body {
    width: 75%;
    padding: 5px;
    margin: auto auto 5%;
    font-family: "Lato", sans-serif;
}

.title {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

.requiredFields {
    color: red;
    font-weight: bold;
}

.heading {
    font-size: 115%;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    color: darkgreen;
}

header{
	width:100%; 
	background:#1d1f20; 
	height:60px; 
	line-height:60px;
}

.logo {
    width: 25%;
    display: block;
}

.star {
    width: 2%;
}